@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

.nav{
  position: sticky;
  top:0;
  background-color: lightblue;
  display:flex;
  height:8vh;
  align-items:center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  flex-wrap: wrap;
  padding: 5px;
}

.title{
  font-family:Satisfy;
  font-size:2rem;
  color:white;
}

.title a,.title a:hover{
  text-decoration: none;
  color: white;
}

.buttonContainer{
  max-width: 100%
}

.signOut{
  border-radius: 30px;
  float: right;
  margin-left: 3px;
}

.signUp{
  float: right;
  border-radius: 30px;
}

.login{
  float: right;
  margin-right: 2px;
  border-radius: 30px;
}

.nav > div{
  margin: 5px;
}

@media only screen and (max-width: 330px) {
  .title{
    font-size: 1.5rem;
  }

  .buttonContainer{
    flex: 2;
  }
}

@media only screen and (max-width: 660px)
{
    input[type="search"]{
    display: none;
  }
}
